@use 'mixins' as m;

body:not([class="home"]) {
    .nav {
        border-bottom: .3rem m.$themeColor solid;
    }
}
.selected {
    border-bottom: 3px m.$themeColor solid ;
}
.nav {
    z-index: 2;
    @include m.flexcol;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/banner.webp) no-repeat center/cover;
    height: 100vh;
    position:relative;
    .navbar {
        @extend %pageWidth;
        @include m.flexrow;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
        .left {
            li {
                width: 10.6rem;
                height: 7rem;
            }
        }
        input[type='checkbox'] {
            display: none;
        }
        .right {
            @include m.flexrow;
            li {
                a { 
                    padding: .7rem 0;
                    color: m.$pageColor;
                    font-size: 1.25rem;
                    @extend %transition;
                    &:not([class='selected']) {
                        border-bottom: 3px transparent solid ;
                }
                    &:hover {
                        border-bottom: 3px m.$darkGray solid;
                    }
                }
            }
        }
    }
    .page1 {
        margin-top: -6rem;
        flex-grow: 1;
        color: m.$pageColor;
        @include m.flexcol;
        justify-content: center;
        text-align: center;
        h1 {
            font-family: "Roboto", sans-serif;
            font-optical-sizing: auto;
            font-size: 8rem;
            font-weight: 400;
            padding: 1rem;
            .typewrite {
                display: block;
            }
        }   
        a {
            @extend %btn;
            align-self: center;
        }        
    }
}
footer {
    background-color: m.$logoBlack;
    padding: 1rem 0;
    font-size: 1.5rem;
   div{
    color: m.$pageColor;
    @extend %pageWidth;
    @include m.flexrow;
    justify-content: space-between;
    align-items: center;
    ul{
       @include m.flexrow; 
       align-items: center;
       li {
        padding: .6rem .8rem;
        border: 2px solid #fff;
        border-radius: 50%;
        @extend %transition;
        a {
            text-decoration: none;
            color: #fff;
        }
        &:hover {
            background-color: m.$themeColor;
        }
       }
    }
   }
}

.whatsapp {
    position: fixed;
    bottom: 30px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: m.$transition;
    left: 50px;
    @include m.flexcol(0);
    color: m.$textColor;
    font-size: 1.4rem ;
}
.whatsapp img {
    width: 7rem;
    height: 7rem;
}
.whatsapp.active {
    opacity: 1;
    visibility: visible;
}
.whatsapp:hover {
    transform: scale(1.1);
}
@media screen and (min-width: 300px) and (max-width: 999px) {
    .page1 {
        h1 {
            font-size: 4rem !important;
        }
        a {
            font-size: 1.4rem !important;
            padding: .2rem .7rem !important;
        }
    }
}

@media screen and (max-height: 670px){
    .nav {
        .navbar {
            .right {
                @include m.flexcol(5rem !important);
            }
        }
        .page1 {
                position: relative;
                top: 10rem;
        }
    }
    
}

@media screen and (min-width: 300px) and (max-width: 768px) {
    .navbar {
        position: relative;
        label[for='checkbox'] {
            cursor: pointer;
            .hamburger {
                div {
                    width: 2.8rem;
                    height: .3rem;
                    background-color: m.$pageColor;
                    margin: .5rem 0;
                    z-index: 10;
                    transition: all .5s ease-in;
                }
            }
        }
        .right {
            @include m.flexcol;
            @include m.rightNav;
        }
        .right.ham {
            display: none;
        }
        #checkbox:checked ~ .right.ham {
            display: flex;
        }
        #checkbox:checked ~ label .hamburger  {
            .top {
                position: relative;
                height: .4rem;
                top: .85rem;
                transform: rotate(-45deg);
            }
            .mid {
                opacity: 0;
            }
            .bottom {
                position: relative;
                height: .4rem;
                top: -.85rem;
                transform: rotate(45deg);
            }
        }
    }
    footer {
        padding-bottom: 2rem;
        div {
            flex-direction: column;
        }
    }
}